form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 250px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.2rem;
}

label{
 font-size: 1.9rem;
 color:white;
}

textarea{
  width: 80%;
  height: 90px;
}

textarea:focus{
  
 outline-color: orange;

}

.buttonForm{
  width: 90%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.buttonForm button{
  width: 120px;
  height: 40px;
  padding: 5px;
  background-color: aquamarine;
  font-family: inherit;
  font-size: 1.7rem;
  font-weight: bold;  
}