.Todo_Item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aquamarine;
    width: 70%;
    height: 50px; 
    margin: 0 auto 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.Todo_Item--close{
    position: absolute;
    top:-5px;
    right: -5px;
}

.fa-times-circle{

    font-size: 2.0rem;
    color:black;

  


}