
.SearchContainer{
    text-align: center;
}

.Todosearch{
    width:230px;
    height: 40px;
    background-color: aquamarine;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.Todosearch:focus{

outline-color:orange;


}

.Todosearch::placeholder{

    font-weight: 400;
    font-size: 1.8rem;

}