.TodoButton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom:50px;
    right: 0px;
    background-color:orange;
    width: 54px;
    height: 54px;
    border-radius: 50%; 
    font-size: 5.0rem;
    font-weight: bold;
    transform: rotate(0);
    transition: .3s ease;   
    color:white;
    border:none;
    margin-bottom: 10px;
    margin-right: 2px;
}

.TodoButton:hover{

  transform: rotate(360deg);
}

