.Icon-container{
    cursor:pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container--check{

    position: absolute;
    left: 12px;

}

.Icon-svg{

    width: 24px;
    height: 24px;
    transition: fill .15s;    
}

