
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer button {
  width: 33%;
  height: 40px;
  background-color: black;
  color:white;
  font-family: inherit;
  font-size: 1.5rem;
  max-width: 200px;
}
